BACKEND_API_URL=http://127.0.0.1:8080
NEXT_PUBLIC_BACKEND_WS_URL=ws://127.0.0.1:8080/v1/ws
COLLECTOR_PROXY_MODE=proxyxoay
COLLECTOR_PROXY_PROTOCOL=http
COLLECTOR_PROXYXOAY_KEY=your_key_here
COLLECTOR_PROXYXOAY_NHAMANG=random
COLLECTOR_PROXYXOAY_TINHTHANH=0
COLLECTOR_PROXYXOAY_WHITELIST=