DOMAIN_FRONTEND=tykfk.site
DOMAIN_API=api.tykfk.site
DOMAIN_ADMIN=admin.tykfk.site

POSTGRES_DB=surebet
POSTGRES_USER=surebet
POSTGRES_PASSWORD=change-me
POSTGRES_BIND_ADDRESS=0.0.0.0
POSTGRES_PORT=5432

BACKEND_APP_NAME=surebet-platform
BACKEND_APP_ENV=production
AUTH_TOKEN_SECRET=change-me
AUTH_TOKEN_TTL=12h
HTTP_READ_TIMEOUT=15s
HTTP_WRITE_TIMEOUT=15s

TELEGRAM_BOT_TOKEN=
TELEGRAM_API_BASE_URL=https://api.telegram.org
TELEGRAM_REQUEST_TIMEOUT=10s
TELEGRAM_SUREBET_DEDUP_WINDOW=30m
TELEGRAM_SUREBET_SCAN_COOLDOWN=5s
TELEGRAM_QUEUE_POLL_INTERVAL=2s
TELEGRAM_QUEUE_BATCH_SIZE=25
TELEGRAM_QUEUE_MAX_ATTEMPTS=5
TELEGRAM_QUEUE_RETRY_DELAY=30s

LARAVEL_APP_NAME=Surebet Data Tools
LARAVEL_APP_ENV=production
LARAVEL_APP_KEY=base64:change-me
LARAVEL_APP_DEBUG=false
LARAVEL_APP_TIMEZONE=Asia/Ho_Chi_Minh
LARAVEL_APP_LOCALE=vi
LARAVEL_APP_FALLBACK_LOCALE=en
LARAVEL_SESSION_DRIVER=file
LARAVEL_CACHE_STORE=file
TELEGRAM_WEBHOOK_SECRET=

SEED_FRONTEND_USER_ID=surebet-operator
SEED_FRONTEND_USER_EMAIL=operator@tykfk.site
SEED_FRONTEND_USER_PASSWORD=change-me
SEED_FRONTEND_USER_FULL_NAME=Surebet Operator
SEED_FRONTEND_USER_ROLE=operator

SEED_SUPER_ADMIN_ID=surebet-super-admin
SEED_SUPER_ADMIN_EMAIL=superadmin@tykfk.site
SEED_SUPER_ADMIN_PASSWORD=change-me
SEED_SUPER_ADMIN_FULL_NAME=Surebet Super Admin
SEED_SUPER_ADMIN_ROLE=super_admin

ODDS_RETENTION_ACTIVE_HOURS=24
ODDS_RETENTION_FINISHED_MINUTES=30

NEXT_PUBLIC_BACKEND_API_URL=https://api.tykfk.site
NEXT_PUBLIC_BACKEND_WS_URL=wss://api.tykfk.site/v1/ws
FRONTEND_BACKEND_API_URL=http://backend-api:8080

EIGHTXBET_PAGE_URL=https://8x4455.com/
EIGHTXBET_BASE_URL=https://8x4455.com/sportEvents/incoming/football?hour=12
EIGHTXBET_INPLAY_PAGE_URL=https://8x4455.com/sportEvents/inplay/football
JUN88_BASE_URL=https://www.jun888e.ren
JUN88_CMD_PAGE_URL=https://www.jun888e.ren/vi-vn/sports-landing/cmd

COLLECT_INTERVAL_MS=5000
COLLECT_HEARTBEAT_MS=15000
COLLECT_STREAM_POLL_MS=300
COLLECT_PAGE_RELOAD_MS=30000
COLLECT_PAGE_SETTLE_MS=1000
COLLECT_BROWSER_RECYCLE_MS=300000
COLLECTOR_HEADLESS=true
COLLECTOR_SLOWMO=0
COLLECTOR_BLOCK_HEAVY_RESOURCES=true
COLLECTOR_BLOCK_RESOURCE_TYPES=image,media,font
COLLECTOR_DEBUG_ARTIFACTS=true
COLLECTOR_DEBUG_THROTTLE_MS=60000
COLLECTOR_PROXY_MODE=off
COLLECTOR_PROXY_PROTOCOL=http
COLLECTOR_PROXY_BYPASS=
COLLECTOR_PROXY_CACHE_ENABLED=true
COLLECTOR_PROXY_CACHE_FILE=tmp/collector/proxyxoay-cache.json
COLLECTOR_PROXY_TIMEOUT_MS=10000
COLLECTOR_PROXY_SERVER=
COLLECTOR_PROXYXOAY_KEY=
COLLECTOR_PROXYXOAY_NHAMANG=random
COLLECTOR_PROXYXOAY_TINHTHANH=0
COLLECTOR_PROXYXOAY_WHITELIST=
