{$DOMAIN_FRONTEND} {
    encode zstd gzip
    reverse_proxy frontend:3000
}

{$DOMAIN_API} {
    encode zstd gzip
    reverse_proxy backend-api:8080
}

{$DOMAIN_ADMIN} {
    encode zstd gzip
    reverse_proxy laravel-admin:80
}
