BACKEND_API_URL=http://127.0.0.1:8080
EIGHTXBET_PAGE_URL=https://8x4455.com/
EIGHTXBET_BASE_URL=https://8x4455.com/sportEvents/incoming/football?hour=12
EIGHTXBET_INPLAY_PAGE_URL=https://8x4455.com/sportEvents/inplay/football
JUN88_BASE_URL=https://www.jun888e.ren
JUN88_BTI_PAGE_URL=https://www.jun888e.ren/vi-vn/sports-landing/bti
JUN88_IBC_PAGE_URL=https://www.jun888e.ren/vi-vn/sports-landing/ibc
JUN88_CMD_PAGE_URL=https://www.jun888e.ren/vi-vn/sports-landing/cmd
JUN88_M8_PAGE_URL=https://www.jun888e.ren/vi-vn/sports-landing/m8
COLLECT_INTERVAL_MS=5000
COLLECT_HEARTBEAT_MS=15000
COLLECT_STATE_OBSERVE_MS=30000
COLLECT_STREAM_POLL_MS=300
COLLECT_PAGE_SETTLE_MS=1000
EIGHTXBET_RECONCILE_MS=300000
CMD_RECONCILE_MS=300000
EIGHTXBET_TRAFFIC_RECORDER=false
EIGHTXBET_TRAFFIC_DURATION_MS=18000000
EIGHTXBET_TRAFFIC_SAMPLE_BYTES=8192
COLLECTOR_HEADLESS=true
COLLECTOR_SLOWMO=0
COLLECTOR_DEVTOOLS=false
COLLECTOR_BLOCK_HEAVY_RESOURCES=true
COLLECTOR_BLOCK_RESOURCE_TYPES=image,media,font
COLLECTOR_DEBUG_ARTIFACTS=true
COLLECTOR_DEBUG_THROTTLE_MS=60000
COLLECTOR_PROXY_MODE=off
COLLECTOR_PROXY_PROTOCOL=http
COLLECTOR_PROXY_BYPASS=
COLLECTOR_PROXY_CACHE_ENABLED=true
COLLECTOR_PROXY_CACHE_FILE=tmp/collector/proxyxoay-cache.json
COLLECTOR_PROXY_TIMEOUT_MS=10000
COLLECTOR_PROXY_REFRESH_MS=60000
COLLECTOR_PROXY_SERVER=
COLLECTOR_PROXYXOAY_KEY=
COLLECTOR_PROXYXOAY_NHAMANG=random
COLLECTOR_PROXYXOAY_TINHTHANH=0
COLLECTOR_PROXYXOAY_WHITELIST=
