BACKEND_API_URL=http://127.0.0.1:8080
EIGHTXBET_BASE_URL=https://8x4455.com
EIGHTXBET_INPLAY_PAGE_URL=https://8x4455.com/sportEvents/inplay/football
JUN88_BASE_URL=https://www.jun888e.ren
JUN88_CMD_PAGE_URL=https://www.jun888e.ren/vi-vn/sports-landing/cmd
COLLECT_HEARTBEAT_MS=15000
COLLECT_STREAM_POLL_MS=300
COLLECT_PAGE_SETTLE_MS=1000
EIGHTXBET_RECONCILE_MS=300000
EIGHTXBET_NETWORK_BOOTSTRAP_MS=5000
EIGHTXBET_METADATA_BOOTSTRAP_MS=5000
EIGHTXBET_ODDS_FORMAT_GATE_MS=5000
EIGHTXBET_SUBSCRIPTION_BATCH_SIZE=4
EIGHTXBET_SUBSCRIPTION_BATCH_DELAY_MS=250
EIGHTXBET_STREAM_TELEMETRY=true
EIGHTXBET_STREAM_TELEMETRY_MS=5000
EIGHTXBET_COVERAGE_TELEMETRY=true
EIGHTXBET_COVERAGE_TELEMETRY_MS=30000
CMD_RECONCILE_MS=30000
CMD_DOM_SCAN_MS=500
EIGHTXBET_TRAFFIC_RECORDER=false
EIGHTXBET_TRAFFIC_DURATION_MS=18000000
EIGHTXBET_TRAFFIC_SAMPLE_BYTES=8192
COLLECTOR_HEADLESS=true
COLLECTOR_SLOWMO=0
COLLECTOR_BLOCK_HEAVY_RESOURCES=true
COLLECTOR_BLOCK_RESOURCE_TYPES=image,media,font
COLLECTOR_DEBUG_ARTIFACTS=true
COLLECTOR_DEBUG_THROTTLE_MS=60000
COLLECTOR_PROXY_MODE=off
COLLECTOR_PROXY_PROTOCOL=http
COLLECTOR_PROXY_BYPASS=
COLLECTOR_PROXY_CACHE_ENABLED=true
COLLECTOR_PROXY_CACHE_FILE=tmp/collector/proxyxoay-cache.json
COLLECTOR_PROXY_TIMEOUT_MS=10000
COLLECTOR_PROXY_SERVER=
COLLECTOR_PROXYXOAY_KEY=
COLLECTOR_PROXYXOAY_NHAMANG=random
COLLECTOR_PROXYXOAY_TINHTHANH=0
COLLECTOR_PROXYXOAY_WHITELIST=
